/**
 * Pop-up Box Styles
 */
.popup {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    max-width: 450px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    opacity: 0;
    transition: top 0ms ease-in-out 300ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}

.popup > * {
    margin: 15px 0px;
}

.popup .output-img {
    width: 98%;
}

.popup .close-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.popup .download-btn {
    --background: #2B3044;
    --background-hover: #1E2235;
    --text: #fff;
    --icon: #fff;
    cursor: pointer;
    border: 0;
    width: 30%;
    min-width: 113px;
    padding: 8px 20px 8px 12px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform .3s, background .4s;
    &:active {
        --scale: .95;
    }
    .icon {
        --arrow-y: 0;
        --arrow-rotate: 135;
        --arrow-top: 10px;
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        pointer-events: none;
        .arrow,
        .line {
            position: absolute;
            z-index: 1;
        }
        .arrow {
            left: 11px;
            top: 4px;
            width: 2px;
            height: 12px;
            border-radius: 1px;
            background: var(--icon);
            transform: translateY(calc(var(--arrow-y) * 1px)) translateZ(0);
            &:before,
            &:after {
                content: '';
                width: 2px;
                height: 7px;
                position: absolute;
                left: 0;
                top: var(--arrow-top);
                border-radius: 1px;
                background: inherit;
                transform-origin: 1px 1px;
                transform: rotate(var(--r, calc(var(--arrow-rotate) * 1deg)));
            }
            &:after {
                --r: calc(var(--arrow-rotate) * -1deg);
            }
        }
    }
}

body.active-popup {
    overflow: hidden;
}

body.active-popup .main {
    filter: blur(5px);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup {
    top: 50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}
